{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <a href="{% url 'index' %}">{% trans 'Back to home' %}</a>
        <h2>{% trans 'Send a request with tuning' %}</h2>
        <form id="tuning-form" method="post">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row mt-1">
        <h2>Result</h2>
        <div id="result">

        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sample/submit_with_tuning.js' %}"></script>
{% endblock %}